<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home</h1>
    {% if is_authenticated %}
    <h3>hi {{user}}</h3>
    <h3><a href="{% url 'logout' %}">logout</a></h3>
    <h3><a href="{% url 'edit-user-profile' %}">profile</a></h3>
    <a href="{% url 'my-groups' %}">
        <h3>Groups</h3>
    </a>
    {% else %}
    <h2><a href="{% url 'signup' %}">signup</a></h2>
    <h2><a href="{% url 'login' %}">login</a></h2>
    {% endif %}

</body>

</html>